# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# VSCode
.vscode/
.env
.env.*

# Misc
*.swp
*.swo
.idea/
*.bak
